* {
  box-sizing: border-box;
}

body {
  background-color: #80808073;
}

main {
  width: 50%;
  margin: 0 auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.item {
  display: inline-block;
  width: calc(100%/3);
  margin-right: -4px;
  padding: 15px;
}

.main-conteiner {
  padding: 0 0 18px;
  background: #E0E0E0;
  border: 2px solid #000000;

}

.avatar {
  margin: 0 auto;
  width: 130px;
  height: 130px;
}

img {
  width: 100%;
  height: 100%;
}

.title {
  text-align: center;
  font-size: 18px;
  margin: 5px 0;
}

p {
  text-align: center;
  font-size: 14px;
  margin-top: 5px;
}