@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Semibold.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Regular.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
  transition: all 0.5s;
}

a:hover {
  color: #FF6336;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: top;
}

.hr {
  background: rgb(239, 239, 239);
  height: 1px;
  margin: 0;
}

#wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

[class$=_conteiner] {
  max-width: 1430px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

@media (min-width: 992px) {
  [class$=_conteiner] {
    padding: 0 20px;
  }
}

/* --header-start-- */

body {
  font-family: "Graphik LCG", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000;
}

.header {
  position: relative;
  right: 0;
  left: 0;
  z-index: 99;
  background: #fff;
}

.opener {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 5;
  font-size: 0;
  right: 0;
  transition: all 0.7s;
}

#opener {
  display: none;
}

.opener::before,
.opener::after,
.opener span {
  position: absolute;
  content: "";
  width: 18px;
  height: 2px;
  background: #000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.7s;
}

.opener::before {
  top: 35%;
}

.opener::after {
  top: 65%;
}

#opener:checked~.opener::before {
  transform: translate(-50%, -50%) rotate(45deg);
  top: 50%;
}

#opener:checked~.opener::after {
  transform: translate(-50%, -50%) rotate(-45deg);
  top: 50%;
}

#opener:checked~.opener span {
  display: none;
}

#opener:checked~.header_list {
  transform: translateY(100%);
  opacity: 1;
}

@media (min-width: 992px) {
  body {
    font-size: 20px;
  }

  .header {
    position: static;
  }

  .opener {
    display: none;
  }
}

.header_nav {
  padding: 15px 0;
  font-size: 15px;
}

@media (min-width: 992px) {
  .header_nav {
    padding: 35px 0;
  }
}

.header_nav_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_list_logo {
  display: flex;
  align-items: center;
}

.logo {
  padding-right: 51px;
}

.header_list {
  display: flex;
  background: #FF6336;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  border: 1px solid #FF9C7D;
  opacity: 0;
  transform: translateY(-100%);
  transition: all 0.8s;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media (min-width: 992px) {
  .header_list {
    position: static;
    background: none;
    transform: none;
    flex-direction: row;
    opacity: 1;
    border: none;
  }
}

.header_list>li {
  padding: 10px 0;
  width: 100%;
  border: 1px solid #FF9C7D;
}

@media (min-width: 992px) {
  .header_list>li {
    padding: 0 30px 0 0;
    border: none;
    width: auto;
  }
}

@media (min-width: 1024px) {
  .header_list>li {
    padding: 0 57px 0 0;
  }
}

.header_list a:hover {
  color: #fff;
}

.header_nav_item>.header_button {
  display: none;
}

@media (min-width: 992px) {
  .header_nav_item>.header_button {
    display: flex;
  }

  .header_list a:hover {
    color: #FF6336;
    ;
  }
}

.btn {
  display: inline-block;
  text-align: center;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.50);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  min-width: 120px;
  transition: all 0.5s;
}

@media (min-width: 992px) {
  .btn {
    padding: 10px 25px;
  }
}

.header_button:first-child {
  margin-right: 10px;
}

.header_button>.btn_left:hover {
  border: 1px solid #FF6336;
}

.btn_right {
  padding: 10px 21px;
  background: #FF6336;
  color: #fff;
  border: 1px solid #FF6336;
}

.header_button>.btn_right:hover {
  background: #fff;
  border: 1px solid #FF6336;
}

/* --header-end-- */

/* --main-start-- */

.main {
  min-height: 100vh;
}

.main_title_page {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.title_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  margin: 0;
}

.title_content>span {
  font-size: 15px;
  line-height: 25px;
  margin-top: 25px;
}

.title_content>p {
  font-size: 25px;
  margin: 50px 0;
}

.title_img {
  width: 100%;
  padding: 45px 0;
}

@media (min-width: 767px) {
  .main_title_page {
    padding: 97px 0 145px 0;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .title_content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  h1 {
    font-size: 65px;
    line-height: 70px;
  }

  .title_content .btn {
    min-width: 160px;
  }

  .title_img {
    width: 759px;
    height: 529px;
    padding: 54px 0 45px 0;
  }

}

/* --2-- */

.main_section {
  background: #FF9C7D;
  padding: 50px 0;
  text-align: center;
}

.section_box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

h2 {
  margin: 0 0 35px 0;
  font-weight: 600;
  font-size: 35px;
  line-height: 120%;
}

.section_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.section_list>li {
  padding: 10px;
}

@media (min-width: 767px) {
  .main_section {
    padding: 96px 0;
  }

  h2 {
    font-size: 50px;
    margin: 0 0 70px 0;
  }

  .section_list {
    flex-wrap: nowrap;
  }
}


/* --3-- */

.content_item {
  padding-top: 50px;
  padding-bottom: 70px;
}

.card_content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}

.card_content+.card_content {
  padding-top: 70px;
}

.content_text {
  width: 100%;
}

h3 {
  font-size: 25px;
  font-weight: 600;
  line-height: 120%;
}

.content_text>p {
  margin: 35px 0;
}

.content_text>.content_click {
  font-weight: 600;
  line-height: 30px;
}

/* .content_img {
  width: 100%;
} */

@media (min-width: 767px) {
  .content_item {
    padding-top: 100px;
    padding-bottom: 150px;
  }

  .card_content {
    align-items: center;
    flex-direction: row;

  }

  h3 {
    font-size: 50px;
  }

  .content_text {
    width: 50%;
  }

  .content_img {
    width: 50%;
  }

  .card_content:nth-child(even) {
    flex-direction: row-reverse;
  }

  .card_content:nth-child(even)>.content_text {
    padding-left: 20px;
  }

  .card_content+.card_content {
    padding-top: 100px;
  }

}

@media (min-width: 1024px) {
  .card_content+.card_content {
    padding-top: 250px;
  }
}

/* --4-- */

.main_content_web {
  background: #FFF8E4;
}

.content_web_card {
  padding: 50px 0 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content_web_card>h3 {
  margin-bottom: 60px;
}

.web_card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.web_card li {
  padding: 25px 50px;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.cards h4 {
  margin: 15px 0 15px 0;
}

.cards p {
  font-size: 18px;
  line-height: 25px;
}

.click {
  text-decoration-line: underline;
}

@media (min-width: 767px) {
  .content_web_card {
    padding: 120px 0 93px 0;
  }

  .web_card li {
    width: calc(100% / 3);
  }

  .cards h4 {
    margin: 26px 0 20px 0;
  }

}

/* --5-- */

.main_content_local {
  padding: 60px 0;
}

.local_card {
  flex-direction: column;
  align-items: center;
}

.local_card>li {
  padding: 25px 0;
}

.main_content_local h3 {
  margin: 0 0 35px 0;
}

.local_cards {
  align-items: flex-start;
}

.local_cards h4 {
  margin: 30px 0;
}

.local_cards>.click {
  margin-top: 10px;
}

@media (min-width: 767px) {
  .local_card {
    flex-direction: row;
  }

  .local_card>li {
    padding: 25px 10px 25px 10px;
  }

  .main_content_local {
    padding: 150px 0;
  }

  .main_content_local h3 {
    margin: 0 20px 75px 20px;
  }

  .local_cards>.click {
    margin-top: 25px;
  }

  .local_cards h4 {
    margin: 60px 0 34px 0;
  }

}

/* --6-- */

.main_content_quote {
  background: #C9E8F2;
}

.quote_content {
  align-items: flex-start;
  padding: 52px 0;
}

.quote_text img {
  width: 115px;
  height: 25px;
  margin-top: 5px;
}

.quote_text {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  font-size: 10px;
}

.quote_text>span {
  font-size: 10px;
  line-height: 167%;
}

q {
  font-size: 15px;
  line-height: 133%;
  margin: 0 0 5px 0;
}

.quote_img {
  margin-top: 20px;
}

@media (min-width: 767px) {
  .quote_content {
    align-items: flex-start;
    padding: 52px 20px 105px 20px;
  }

  .quote_text {
    width: 75%;
  }

  .quote_text>span {
    font-size: 15px;
  }

  .quote_img {
    width: 310px;
    height: 310px;
    margin-top: 0;
  }

  q {
    font-size: 30px;
    line-height: 133%;
    margin: 0 0 25px 0;
  }
}

/* --7-- */

.main_content_grade {
  background: #DABC98;
  padding: 70px 0;
}

.grade {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.grade_left {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 143%;
  margin-bottom: 30px;
}

.grade_right {
  display: flex;
  justify-content: center;
}

.grade_right>img {
  height: 116px;
  width: auto;
  margin-right: 15px;

}

.grade_img {
  margin-right: 50px;
}

@media (min-width: 767px) {
  .grade {
    flex-direction: row;
  }

  .grade_right {
    width: 100%;
  }

  .grade_left {
    width: 100%;
    margin-right: 10px;
  }

  .grade_right>img {
    margin-right: 20px;
  }
}

@media (min-width: 992px) {
  .grade {
    flex-direction: row;
    align-items: center;
  }

  .grade_left {
    font-size: 35px;
    font-weight: 600;
    line-height: 143%;
    margin-right: 125px;
    margin-bottom: 0;
  }

  .grade_img {
    margin-right: 70px;
  }

  .grade_right {
    width: 100%;
    padding: 41px 0;
    flex-wrap: nowrap;
  }

  .grade_right>img {
    padding-left: 60px;
    padding-bottom: 0;
  }
}

@media (min-width: 1024px) {
  .grade_right {
    border-left: 1px solid #000;
  }
}

/* --8-- */

.main_content_integrate {
  padding: 40px 0;
}

.integrate {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.integrate>h4 {
  font-size: 25px;
  font-weight: 600;
  line-height: 120%;
}

.integrate>p {
  margin-bottom: 25px;
  margin-top: 25px;
  font-size: 15px;
}

.integrate_img {
  margin-bottom: 32px;
}

@media (min-width: 992px) {
  .main_content_integrate {
    padding: 170px 0;
  }

  .integrate>h4 {
    font-size: 65px;
  }

  .integrate>p {
    font-size: 25px;
  }
}

/* --9-- */

.main_content_loca {
  background: #FF9C7D;
  padding: 30px 0;
}

.local>p {
  margin: 29px 0 54px;
  font-weight: 600;
}

.local .btn_right {
  background: #000;
  border: 1px solid #000;

}

@media (min-width: 992px) {
  .main_content_loca {
    padding: 161px 0;
  }
}

/* --footer */

.footer {
  background: #EEE;
}

.footer_content {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  flex-direction: column;
}

.footer_card {
  display: flex;
  flex-direction: column;
}

.footer_card>h4 {
  font-size: 30px;
}

.footer_card>p {
  margin: 15px 0;
}

.footer_card>a {
  text-decoration: none;
  font-weight: 600;
}

.footer_img>img {
  width: auto;
  padding: 30px 0;
}

.footer_nav {
  display: flex;
  align-items: flex-start;
  font-size: 10px;
  line-height: 100%;
  width: 850px;
  flex-wrap: wrap;
}

.col_nav {
  width: 100%;
  padding: 20px 0;
}

.footer_nav h5 {
  font-size: 15px;
  line-height: 125%;
  margin-bottom: 8px;
}

.footer_menu>li {
  padding: 8px 0;
}

.footer_conteiner .hr {
  background: #000;
}

@media (min-width: 992px) {
  .footer_content {
    padding: 95px 0;
  }

  .footer_nav {
    flex-wrap: nowrap;
    margin-left: 10px;
  }

  .footer_nav h5 {
    margin-bottom: 21px;
  }

  .footer_card h4 {
    font-size: 35px;
  }

}

@media (min-width: 625px) {
  .footer_nav {
    flex-wrap: nowrap;
    width: auto;
  }
}

@media (min-width: 767px) {
  .footer_nav {
    display: flex;
    align-items: flex-start;
    line-height: 100%;
    font-size: 15px;
    flex-wrap: nowrap;
    width: auto;
  }

  .footer_content {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    flex-direction: row;
  }

  .col_nav {
    padding: 0 20px;
  }
}

@media (min-width: 1040px) {
  .footer_card h4 {
    font-size: 40px;
  }

  .footer_nav h5 {
    font-size: 20px;
  }
}

/* --1-- */

.footer_footer {
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  font-size: 10px;
  flex-direction: column;
  align-items: center;
}

.footer_logo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer_logo>p {
  margin: 20px 0;
}

.footer_logo img {
  width: 90px;
  height: 21px;
}

@media (min-width: 992px) {
  .footer_footer {
    padding: 46px 0;
    font-size: 15px;
    flex-direction: row;
  }

  .footer_logo {
    flex-direction: row;
  }

  .footer_logo img {
    width: 90px;
    height: 21px;
    margin-right: 15px;
  }


  .footer_logo>p {
    margin: 0;
  }
}